@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
body{
  font-family: 'Rubik', sans-serif;
}
p{
  color: #2C2C2C;
  font-size: 18px;
  margin-bottom: 0;
}

@media (min-width:1600px) {
  .container{
    max-width: 1370px;
  }
}

.heading_with_undurline{
  text-transform: uppercase;
  color: #000;
  font-size: 45px;
  border-bottom: 1px solid #A9A9A9;
  display: inline-block;
  position: relative;  
  line-height: 57px;
  font-weight: 500; 
  padding-bottom: 5px; 
  &::after{
    content: '';
    position: absolute;
    width: 101px;
    left: 0;
    bottom: -4px;
    height: 7px;
    border-radius: 10px;
    background-color: #A9A9A9;
  }  
}

@media(max-width:1200px){
  .container{
    max-width: 100%;
  }
}
@media(max-width:580px){
  .heading_with_undurline{
    font-size: 35px;
    line-height: 45px;
  }
}